<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../logo/logo.css">
    <link rel="stylesheet" href="../navbar-links/navbar-links.css">
    <link rel="stylesheet" href="header.css">

    <style>

        .container {
            width: 960px;
            margin: 0 auto;
        }

    </style>
</head>

<body>


    <div class="container">

        <header class="header-wrapper">
            <figure class="logo header-wrapper__logo">
                <a href="home.html">
                    <img src="../logo/logo.png" alt="Logo" class="logo__img">
                </a>
            </figure>
            <nav class="header-wrapper__navbar">
                <ul class="navbar-links navbar-links_theme_bold-aqua clearfix">
                    <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                        <a href="#">home</a>
                    </li>
                    <li class="navbar-links__li navbar-links__li_theme_bold-aqua navbar-links__li_active">
                        <a href="#">about</a>
                    </li>
                    <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                        <a href="#">rooms</a>
                    </li>
                    <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                        <a href="#">dive site</a>
                    </li>
                    <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                        <a href="#">food</a>
                    </li>
                    <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                        <a href="#">news</a>
                    </li>
                    <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                        <a href="#">contact</a>
                    </li>
                </ul>
            </nav>
        </header>
    </div>

</body>

</html>