<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article List</title>

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../preamble/preamble.css">
    <link rel="stylesheet" href="../strip-photo/strip-photo.css">
    <link rel="stylesheet" href="article-list.css">

    <style>
        .container {
            margin: 0 0 50px 0;
            outline: 1px solid red;
        }

        .container_w400 {
            width: 400px;
        }

        .container_w600 {
            width: 600px;
        }

        .container_w800 {
            width: 800px;
        }
    </style>
</head>

<body>

    <div class="container container_w400">

        <section>
            <h1 class="header header_light header_secondary">
                Lorem ipsum
            </h1>
            <ul class="article-list article-list_theme_preamble-quote">
                <li>
                    <article class="preamble">
                        <a href="#" class="preamble__link">
                            <p class="preamble__quote">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, ab recusandae sapiente
                                nihil eveniet exercitationem quos inventore est cumque nesciunt quas sit repellat qui
                                perspiciatis. Alias soluta doloribus a fugiat?
                            </p>
                        </a>
                    </article>
                </li>
                <li>
                    <article class="preamble">
                        <a href="#" class="preamble__link">
                            <p class="preamble__quote">
                                Voluptatum minima fuga cupiditate totam quae exercitationem, deserunt, veritatis ea ipsa
                                rerum temporibus impedit quis suscipit ipsum dolore nostrum aspernatur quibusdam cum
                                recusandae! Eum dolorum illum voluptas nam maxime aliquid?
                            </p>
                        </a>
                    </article>
                </li>
                <li>
                    <article class="preamble">
                        <a href="#" class="preamble__link">
                            <p class="preamble__quote">
                                Vel nulla dignissimos eveniet laudantium sint quis. Aperiam molestiae laborum est hic
                                quisquam eveniet accusantium ducimus libero maiores expedita commodi iusto ipsum at eum
                                iure
                                quidem natus, magnam deserunt vitae.
                            </p>
                        </a>
                    </article>
                </li>
                <li>
                    <article class="preamble">
                        <a href="#" class="preamble__link">
                            <p class="preamble__quote">
                                Asperiores ea tenetur cum est nam incidunt fugiat cupiditate rerum accusamus quia qui
                                vero
                                aliquam, animi, reprehenderit velit necessitatibus distinctio maxime, doloremque ab
                                aliquid
                                ad sit repudiandae officiis? Obcaecati, nam!
                            </p>
                        </a>
                    </article>
                </li>
            </ul>
        </section>

    </div>

    <div class="container container_w600">

        <section>
            <h1 class="header header_light header_secondary">
                Lorem ipsum
            </h1>
            <ul class="article-list article-list_theme_preamble-blogs">
                <li>
                    <article class="preamble">
                        <header class="preamble__header-wrapper">
                            <a href="#" class="preamble__link preamble__link_unhover">
                                <h1 class="header">
                                    Lorem ipsum dolor sit amet.
                                </h1>
                                <p>
                                    <time datetime="2022-04-02">2 de abril de 2022</time>
                                </p>
                            </a>
                        </header>
                        <p class="preamble__quote">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius quam, possimus
                            mollitia quia nam
                            fugit, quis quaerat ipsa rem, voluptates magni. Saepe, alias quia id eos earum optio porro.
                        </p>
                    </article>
                </li>
                <li>
                    <article class="preamble">
                        <header class="preamble__header-wrapper">
                            <a href="#" class="preamble__link preamble__link_unhover">
                                <h1 class="header">
                                    Lorem ipsum dolor sit amet.
                                </h1>
                                <p>
                                    <time datetime="2022-04-02">2 de abril de 2022</time>
                                </p>
                            </a>
                        </header>
                        <p class="preamble__quote">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius quam, possimus
                            mollitia quia nam
                            fugit, quis quaerat ipsa rem, voluptates magni. Saepe, alias quia id eos earum optio porro.
                        </p>
                    </article>
                </li>
                <li>
                    <article class="preamble">
                        <header class="preamble__header-wrapper">
                            <a href="#" class="preamble__link preamble__link_unhover">
                                <h1 class="header">
                                    Lorem ipsum dolor sit amet.
                                </h1>
                                <p>
                                    <time datetime="2022-04-02">2 de abril de 2022</time>
                                </p>
                            </a>
                        </header>
                        <p class="preamble__quote">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius quam, possimus
                            mollitia quia nam
                            fugit, quis quaerat ipsa rem, voluptates magni. Saepe, alias quia id eos earum optio porro.
                        </p>
                    </article>
                </li>
                <li>
                    <article class="preamble">
                        <header class="preamble__header-wrapper">
                            <a href="#" class="preamble__link preamble__link_unhover">
                                <h1 class="header">
                                    Lorem ipsum dolor sit amet.
                                </h1>
                                <p>
                                    <time datetime="2022-04-02">2 de abril de 2022</time>
                                </p>
                            </a>
                        </header>
                        <p class="preamble__quote">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius quam, possimus
                            mollitia quia nam
                            fugit, quis quaerat ipsa rem, voluptates magni. Saepe, alias quia id eos earum optio porro.
                        </p>
                    </article>
                </li>
            </ul>
        </section>
    </div>

    <div class="container container_w800">

        <section>
            <ul class="article-list article-list_theme_preamble-cards">
                <li>
                    <article class="preamble preamble_theme_card clearfix">
                        <a href="#" class="preamble__link preamble__link_unhover">
                            <img src="reef1.jpg" alt="reef" class="preamble__img preamble__img_float_right">
                        </a>
                        <a href="#" class="preamble__link preamble__link_unhover">
                            <h1 class="header header_light">
                                Lorem ipsum dolor sit amet.
                            </h1>
                        </a>
                        <p>
                            Lorem, ipsum dolor sit amet <a href="#">consectetur adipisicing</a> elit. Ullam ea aperiam
                            quasi, mollitia obcaecati
                            ducimus omnis debitis officia reprehenderit harum nemo aut veritatis deserunt unde porro
                            quas odio illum
                            hic.
                        </p>
                        <p>
                            Veniam atque similique modi ratione nam ea eveniet quidem, id nulla iste porro <a
                                href="#">soluta tempora</a> nisi
                            laborum illo deleniti ad sequi doloribus? Vitae vero neque ratione minima soluta placeat
                            perferendis.
                        </p>
                    </article>
                </li>
                <li>
                    <article class="preamble preamble_theme_card clearfix">
                        <a href="#" class="preamble__link preamble__link_unhover">
                            <img src="reef1.jpg" alt="reef" class="preamble__img preamble__img_float_left">
                        </a>
                        <a href="#" class="preamble__link preamble__link_unhover">
                            <h1 class="header header_light">
                                Lorem ipsum dolor sit amet.
                            </h1>
                        </a>
                        <p>
                            Lorem, ipsum dolor sit amet <a href="#">consectetur adipisicing</a> elit. Ullam ea aperiam quasi, mollitia obcaecati
                            ducimus omnis debitis officia reprehenderit harum nemo aut veritatis deserunt unde porro quas odio illum
                            hic.
                        </p>
                        <section class="preamble__rate-box">
                            Rate: 220 / Day
                        </section>
                    </article>
                </li>
                <li>
                    <article class="preamble preamble_theme_card clearfix">
                        <a href="#" class="preamble__link preamble__link_unhover">
                            <img src="reef1.jpg" alt="reef" class="preamble__img preamble__img_float_right">
                        </a>
                        <a href="#" class="preamble__link preamble__link_unhover">
                            <h1 class="header header_light">
                                Lorem ipsum dolor sit amet.
                            </h1>
                        </a>
                        <p>
                            Lorem, ipsum dolor sit amet <a href="#">consectetur adipisicing</a> elit. Ullam ea aperiam
                            quasi, mollitia obcaecati
                            ducimus omnis debitis officia reprehenderit harum nemo aut veritatis deserunt unde porro
                            quas odio illum
                            hic.
                        </p>
                        <p>
                            Veniam atque similique modi ratione nam ea eveniet quidem, id nulla iste porro <a
                                href="#">soluta tempora</a> nisi
                            laborum illo deleniti ad sequi doloribus? Vitae vero neque ratione minima soluta placeat
                            perferendis.
                        </p>
                    </article>
                </li>
                <li>
                    <article class="preamble preamble_theme_card clearfix">
                        <a href="#" class="preamble__link preamble__link_unhover">
                            <img src="reef1.jpg" alt="reef" class="preamble__img preamble__img_float_left">
                        </a>
                        <a href="#" class="preamble__link preamble__link_unhover">
                            <h1 class="header header_light">
                                Lorem ipsum dolor sit amet.
                            </h1>
                        </a>
                        <p>
                            Lorem, ipsum dolor sit amet <a href="#">consectetur adipisicing</a> elit. Ullam ea aperiam quasi, mollitia obcaecati
                            ducimus omnis debitis officia reprehenderit harum nemo aut veritatis deserunt unde porro quas odio illum
                            hic.
                        </p>
                        <section class="preamble__rate-box">
                            Rate: 220 / Day
                        </section>
                    </article>
                </li>
            </ul>
        </section>

    </div>

    <div class="container container_w800">

        <section>
            <ul class="article-list article-list_theme_strip">
                <li>
                    <article>
                        <h1 class="header header_secondary header_light">
                            Lorem ipsum dolor sit, amet consectetur adipisicing.
                        </h1>
                        <figure class="strip">
                            <a href="#" class="strip__link">
                                <img src="seafoods.jpg" alt="seafoods" class="strip__img">
                                <figcaption class="strip__caption">
                                    <h2 class="header">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing.
                                    </h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, sapiente officia, similique
                                        cupiditate facere impedit harum repellat exercitationem debitis eveniet odit, deleniti ratione.
                                        Earum consequatur quia dolores. Autem, perspiciatis quam.
                                    </p>
                                </figcaption>
                            </a>
                        </figure>
                    </article>
                </li>
                <li>
                    <article>
                        <h1 class="header header_secondary header_light">
                            Lorem ipsum dolor sit, amet consectetur adipisicing.
                        </h1>
                        <figure class="strip">
                            <a href="#" class="strip__link">
                                <img src="seafoods.jpg" alt="seafoods" class="strip__img">
                                <figcaption class="strip__caption">
                                    <h2 class="header">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing.
                                    </h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, sapiente officia, similique
                                        cupiditate facere impedit harum repellat exercitationem debitis eveniet odit, deleniti ratione.
                                        Earum consequatur quia dolores. Autem, perspiciatis quam.
                                    </p>
                                </figcaption>
                            </a>
                        </figure>
                    </article>
                </li>
                <li>
                    <article>
                        <h1 class="header header_secondary header_light">
                            Lorem ipsum dolor sit, amet consectetur adipisicing.
                        </h1>
                        <figure class="strip">
                            <a href="#" class="strip__link">
                                <img src="seafoods.jpg" alt="seafoods" class="strip__img">
                                <figcaption class="strip__caption">
                                    <h2 class="header">
                                        Lorem ipsum dolor sit, amet consectetur adipisicing.
                                    </h2>
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, sapiente officia, similique
                                        cupiditate facere impedit harum repellat exercitationem debitis eveniet odit, deleniti ratione.
                                        Earum consequatur quia dolores. Autem, perspiciatis quam.
                                    </p>
                                </figcaption>
                            </a>
                        </figure>
                    </article>
                </li>
            </ul>
        </section>

    </div>
</body>

</html>