<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Preamble</title>

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="preamble.css">

    <style>
        .container {
            margin: 0 0 50px 0;
        }

        .container_w400 {
            width: 400px;
        }

        .container_w600 {
            width: 600px;
        }

        .container_w800 {
            width: 800px;
        }
    </style>
</head>

<body>

    <div class="container container_w400">

        <section class="preamble">
            <a href="#" class="preamble__link">
                <p class="preamble__quote">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur nam reprehenderit impedit,
                    aspernatur laborum suscipit minima, animi laboriosam corporis pariatur recusandae alias quod quos
                    deserunt provident, nobis consequuntur molestiae officia.
                </p>
            </a>
        </section>

    </div>

    <div class="container container_w600">

        <section class="preamble">
            <header class="preamble__header-wrapper">
                <a href="#" class="preamble__link preamble__link_unhover">
                    <h1 class="header">
                        Lorem ipsum dolor sit amet.
                    </h1>
                    <p>
                        <time datetime="2022-04-02">2 de abril de 2022</time>
                    </p>
                </a>
            </header>
            <p class="preamble__quote">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt eius quam, possimus mollitia quia nam
                fugit, quis quaerat ipsa rem, voluptates magni. Saepe, alias quia id eos earum optio porro.
            </p>
        </section>

    </div>

    <div class="container container_w800">

        <section class="preamble preamble_theme_card clearfix">
            <a href="#" class="preamble__link preamble__link_unhover">
                <img src="reef1.jpg" alt="reef" class="preamble__img preamble__img_float_right">
            </a>
            <a href="#" class="preamble__link preamble__link_unhover">
                <h1 class="header header_light">
                    Lorem ipsum dolor sit amet.
                </h1>
            </a>
            <p>
                Lorem, ipsum dolor sit amet <a href="#">consectetur adipisicing</a> elit. Ullam ea aperiam quasi,
                mollitia obcaecati
                ducimus omnis debitis officia reprehenderit harum nemo aut veritatis deserunt unde porro quas odio illum
                hic.
            </p>
            <p>
                Veniam atque similique modi ratione nam ea eveniet quidem, id nulla iste porro <a href="#">soluta
                    tempora</a> nisi
                laborum illo deleniti ad sequi doloribus? Vitae vero neque ratione minima soluta placeat perferendis.
            </p>
        </section>

    </div>

    <div class="container container_w800">

        <section class="preamble preamble_theme_card clearfix">
            <a href="#" class="preamble__link preamble__link_unhover">
                <img src="reef1.jpg" alt="reef" class="preamble__img preamble__img_float_left">
            </a>
            <a href="#" class="preamble__link preamble__link_unhover">
                <h1 class="header header_light">
                    Lorem ipsum dolor sit amet.
                </h1>
            </a>
            <p>
                Lorem, ipsum dolor sit amet <a href="#">consectetur adipisicing</a> elit. Ullam ea aperiam quasi,
                mollitia obcaecati
                ducimus omnis debitis officia reprehenderit harum nemo aut veritatis deserunt unde porro quas odio illum
                hic.
            </p>
            <section class="preamble__rate-box">
                Rate: 220 / Day
            </section>
        </section>

    </div>
</body>

</html>