<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="page.css">
</head>

<body class="page">

    <div class="page__inner">
        <header class="page__head">
        </header>

        <section class="page__body">
        </section>

        <footer class="page__foot">
        </footer>
    </div>
</body>

</html>