<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="quotes.css">

    <style>
        .container {

            width: 500px;
        }
    </style>
</head>

<body>

    <div class="container">

        <article>
            <p class="quote">
                <q>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quasi velit, reprehenderit
                    dolor
                    explicabo quae est aliquam amet a cupiditate, magni ea soluta ullam! Consectetur minus reiciendis
                    repudiandae minima iure.
                </q>
                <span class="quote__author"><a href="#">Lorem, ipsum.</a></span>
            </p>
        </article>

    </div>

</body>

</html>