<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumbotron</title>

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="jumbotron.css">

    <style>

        .container {
            max-width: 960px;
            margin: 0 auto;
        }

    </style>
</head>

<body>
    <div class="container">

        <section class="jumbotron">
            <figure class="jumbotron__figure">
                <img class="jumbotron__img" src="sea-sound.jpg" alt="Bikini girl hearing a seashell">
            </figure>
            <h1 class="header header_primary">Lorem ipsum dolor sit amet</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. In, <a href="#">consectetur adipisicing elit</a> veritatis molestias voluptatem molestiae
                accusamus dignissimos unde exercitationem tenetur culpa officia fugiat doloribus! Nulla perspiciatis
                laboriosam dolor, qui earum deserunt eaque?
                Dolores maiores possimus veniam quam autem quisquam, necessitatibus suscipit! Nemo doloremque,
                consequuntur sunt quia harum corporis iusto iure ad pariatur beatae nulla atque qui nisi iste omnis
                nostrum provident incidunt <a href="#">necessitatibus</a>.
            </p>
        </section>

    </div>
</body>

</html>