.jumbotron {
    text-align: justify;
}

.jumbotron__figure {
    width: 100%;
    padding: 0;
    margin: 0;
}

.jumbotron__img {
    width: 100%;
    border: 5px solid hsl(0, 0%, 100%);
}

.jumbotron__header {
    text-transform: uppercase;
    color: #316e66;
    font-size: 2.8rem;
}
