<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar links</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="navbar-links.css">

    <style>
        body {
            background-color: coral;
        }
        .container {
            margin-bottom: 50px;
            font-size: 2rem;
        }
        .container_theme_bold-aqua {
            height: 50px;
            background-color: burlywood;
        }
        .container_theme_bold-aqua nav {
            height: 100%;
        }
    </style>
</head>

<body>

    <div class="container">

        <nav>
            <ul class="navbar-links">
                <li class="navbar-links__li">
                    <a href="#">home</a>
                </li>
                <li class="navbar-links__li navbar-links__li_active">
                    <a href="#">about</a>
                </li>
                <li class="navbar-links__li">
                    <a href="#">rooms</a>
                </li>
                <li class="navbar-links__li">
                    <a href="#">dive site</a>
                </li>
                <li class="navbar-links__li">
                    <a href="#">food</a>
                </li>
                <li class="navbar-links__li">
                    <a href="#">news</a>
                </li>
                <li class="navbar-links__li">
                    <a href="#">contact</a>
                </li>
            </ul>
        </nav>

    </div>

    <div class="container">

        <address>
            <ul class="navbar-links">
                <li class="navbar-links__li">
                    <a href="#"><i class="bi bi-pinterest"></i></a>
                </li>
                <li class="navbar-links__li">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                </li>
                <li class="navbar-links__li">
                    <a href="#"><i class="bi bi-twitter"></i></a>
                </li>
                <li class="navbar-links__li">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </li>
            </ul>
        </address>

    </div>

    <div class="container container_theme_bold-aqua">

        <nav>
            <ul class="navbar-links navbar-links_theme_bold-aqua clearfix">
                <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                    <a href="#">home</a>
                </li>
                <li class="navbar-links__li navbar-links__li_theme_bold-aqua navbar-links__li_active">
                    <a href="#">about</a>
                </li>
                <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                    <a href="#">rooms</a>
                </li>
                <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                    <a href="#">dive site</a>
                </li>
                <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                    <a href="#">food</a>
                </li>
                <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                    <a href="#">news</a>
                </li>
                <li class="navbar-links__li navbar-links__li_theme_bold-aqua">
                    <a href="#">contact</a>
                </li>
            </ul>
        </nav>

    </div>

</body>

</html>