<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strip photo</title>

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="strip-photo.css">

    <style>
        .container {
            margin: 0 0 50px 0;
        }

        .container_w400 {
            width: 400px;
        }

        .container_w600 {
            width: 600px;
        }

        .container_w800 {
            width: 800px;
        }
    </style>
</head>

<body>

    <div class="container container_w800">

        <figure class="strip">
            <a href="#" class="strip__link">
                <img src="seafoods.jpg" alt="seafoods" class="strip__img">
                <figcaption class="strip__caption">
                    <h1 class="header">
                        Lorem ipsum dolor sit, amet consectetur adipisicing.
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, sapiente officia, similique
                        cupiditate facere impedit harum repellat exercitationem debitis eveniet odit, deleniti ratione.
                        Earum consequatur quia dolores. Autem, perspiciatis quam.
                    </p>
                </figcaption>
            </a>
        </figure>

    </div>

</body>

</html>