<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar Boxes</title>

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="sidebar-boxes.css">

    <style>

        .container {

            max-width: 500px;
            margin: 0 auto;
            /* outline: 1px solid red; */
        }

        .container li {
            margin: 10px 0;
        }

    </style>
</head>

<body>

    <div class="container">

        <aside>
            <ul class="sidebar-boxes">
                <li class="sidebar-boxes__li">
                    <a href="#" title="Rooms">
                        <figure class="sidebar-boxes__figure">
                            <img class="sidebar-boxes__img" src="first-class.jpg" alt="Rooms">
                            <figcaption class="sidebar-boxes__figcaption">
                                <div class="sidebar-boxes__figcaption-content-wrapper">
                                    <div class="sidebar-boxes__figcaption-content">rooms</div>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li class="sidebar-boxes__li">
                    <a href="#" title="Dive site">
                        <figure class="sidebar-boxes__figure">
                            <img class="sidebar-boxes__img" src="reef1.jpg" alt="Dive site">
                            <figcaption class="sidebar-boxes__figcaption">
                                <div class="sidebar-boxes__figcaption-content-wrapper">
                                    <div class="sidebar-boxes__figcaption-content">dive site</div>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li class="sidebar-boxes__li">
                    <a href="#" title="Food">
                        <figure class="sidebar-boxes__figure">
                            <img class="sidebar-boxes__img" src="first-class.jpg" alt="Food">
                            <figcaption class="sidebar-boxes__figcaption">
                                <div class="sidebar-boxes__figcaption-content-wrapper">
                                    <div class="sidebar-boxes__figcaption-content">food</div>
                                </div>
                            </figcaption>
                        </figure>
                    </a>
                </li>
            </ul>
        </aside>

    </div>

</body>

</html>