<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testimonial</title>

    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../quotes/quotes.css">
    <link rel="stylesheet" href="testimonial.css">

    <style>
        .container {

            /* width: 500px; */
        }
    </style>
</head>

<body style="background-color: coral;">

    <div class="container">

        
    </div>

    <article class="testimonial">
        <h1 class="header header_light testimonial__header">testimonial</h1>
        <p class="quote testimonial__quote">
            <q>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur quasi velit, reprehenderit
                dolor
                explicabo quae est aliquam amet a cupiditate, magni ea soluta ullam! Consectetur minus reiciendis
                repudiandae minima iure.
            </q>
            <span class="quote__author"><a href="#">Lorem, ipsum.</a></span>
        </p>
    </article>
</body>

</html>